html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
}

ul {
  list-style: none;
}

/* 
Task 3
*/

#gallery {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gallery-item {
  width: 395px;
}

.gallery-img {
  object-fit: fill;
  max-height: 222px;
  width: 100%;
}

/* 
Task 06
*/

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
